flow.json
[{"id":"ca105421.b84c98","type":"tab","label":"Chat","disabled":false,"info":""},{"id":"59cccbc.28ba0b4","type":"tab","label":"Report","disabled":false,"info":""},{"id":"3790f618.2ccf0a","type":"tab","label":"Flow 1"},{"id":"60fe69bc.6eefd","type":"tab","label":"Chat - old","disabled":false,"info":""},{"id":"689ea800.d5cca","type":"websocket-listener","z":"","path":"/ws/chat","wholemsg":"false"},{"id":"b2bb2cf6.0ab7b","type":"http in","z":"ca105421.b84c98","name":"","url":"/chatapi","method":"get","upload":false,"swaggerDoc":"","x":201,"y":344,"wires":[["48de17c7.deb42"]]},{"id":"48de17c7.deb42","type":"change","z":"ca105421.b84c98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":384,"y":395,"wires":[["cfc9078.5bd7078","1144c364.25bdbd"]]},{"id":"cfc9078.5bd7078","type":"watson-conversation-v1","z":"ca105421.b84c98","name":"","workspaceid":"4345c3c6-cf54-4823-9ee6-e95a4e55bcff","multiuser":false,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":450,"y":480,"wires":[["e9b053ba.6d174","30937f5e.0cc058"]]},{"id":"e9b053ba.6d174","type":"change","z":"ca105421.b84c98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":660,"wires":[["19077c56.aa82e4"]]},{"id":"1144c364.25bdbd","type":"watson-tone-analyzer-v3","z":"ca105421.b84c98","name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":650,"y":380,"wires":[["47b68e3f.e57088","30937f5e.0cc058"]]},{"id":"47b68e3f.e57088","type":"change","z":"ca105421.b84c98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.document_tone.tone_categories[0]","tot":"msg"},{"t":"delete","p":"res","pt":"msg"},{"t":"delete","p":"req","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":660,"wires":[["accd872b.32582"]]},{"id":"f20decb5.d51e5","type":"cloudant out","z":"ca105421.b84c98","name":"","cloudant":"","database":"db_tone","service":"bluehackcloudhort082017-cloudantNoSQLDB","payonly":false,"operation":"insert","x":1060,"y":960,"wires":[]},{"id":"30937f5e.0cc058","type":"debug","z":"ca105421.b84c98","name":"","active":true,"console":"false","complete":"response","x":907,"y":465,"wires":[]},{"id":"19077c56.aa82e4","type":"http response","z":"ca105421.b84c98","name":"","statusCode":"","headers":{},"x":690,"y":880,"wires":[]},{"id":"7ae7d728.86ba9","type":"http in","z":"59cccbc.28ba0b4","name":"","url":"/analytics","method":"get","upload":false,"swaggerDoc":"","x":145,"y":198,"wires":[["7ca31ba6.c2b834"]]},{"id":"7ca31ba6.c2b834","type":"cloudant in","z":"59cccbc.28ba0b4","name":"","cloudant":"","database":"db_tone","service":"bluehackcloudhort082017-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":380,"y":180,"wires":[["cdb0a782.cacde"]]},{"id":"cdb0a782.cacde","type":"http response","z":"59cccbc.28ba0b4","name":"","statusCode":"","headers":{},"x":641,"y":189,"wires":[]},{"id":"cd49bc16.60d6b","type":"http in","z":"3790f618.2ccf0a","name":"","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":123,"y":81,"wires":[["3a47bf46.5f8b1"]]},{"id":"3a47bf46.5f8b1","type":"template","z":"3790f618.2ccf0a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<html>\n<head>\n    <script src=\"https://code.jquery.com/jquery-3.2.1.min.js\"></script>\n\n<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n\n<style type=\"text/css\">\n\thtml,\n\tbody {\n\t  height: 100%;\n\t  background-color: #2e3141;\n\t}\n\tbody {\n\t  color: #fff;\n\t  text-align: center;\n\t  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);\n\t}\n\t\n\tbody, input, select, textarea {\n\t\tcolor: #ffffff;\n\t\tfont-family: \"Source Sans Pro\", Helvetica, sans-serif;\n\t\tfont-size: 16.5pt;\n\t\tfont-weight: 200;\n\t\tline-height: 1.65;\n\t}\n\t\n\tinput{\n\t\tcolor: #000000;\n\t\tfont-family: \"Source Sans Pro\", Helvetica, sans-serif;\n\t\tfont-size: 16.5pt;\n\t\tfont-weight: 300;\n\t\tline-height: 1.65;\n\t}\n\t\n\t#banner {\n\t\tpadding: 2em 0 4.75em 0 ;\n\t}\n\t\n\t#banner .inner {\n\t\tmargin: 0 auto;\n\t\twidth: 55em;\n\t}\n\t\n\t#banner .logo {\n\t\tmargin: 0 0 1.3em 0;\n\t}\n\t\n\t#banner .logo .icon {\n\t\tdisplay: inline-block;\n\t}\n\t\n\t#banner h2 {\n\t\tfont-size: 2.25em;\n\t\tfont-weight: 600;\n\t}\n\t\n\t#banner .img {\n\t\tborder-bottom: solid 2px rgba(255, 255, 255, 0.125);\n\t\tmargin-bottom: 0.8em;\n\t\tpadding-bottom: 2em;\n\t\tmargin-bottom: 0.8em;\n\t}\n\t\n\timg{\n\t\tpadding-right: 15px;\n\t}\n\t\n\t#banner p {\n\t\tfont-family: Raleway, Helvetica, sans-serif;\n\t\tfont-size: 1em;\n\t\tfont-weight: 200;\n\t\tletter-spacing: 0.1em;\n\t\tline-height: 2;\n\t\tpadding-top: 0.5em;\n\t}\n\t\n\t.subtitle{\n\t\tfont-family: Raleway, Helvetica, sans-serif;\n\t\tfont-size: 0.7em;\n\t\tdisplay: block;\n\t}\n\t\n\t.button {\n\t\tmargin-top: 10px;\n\t\tbackground-color: #337ab7;\n\t\tborder-color: #337ab7;\n\t\tcolor: #ffffff;\n\t}\n\t\n</style>\n\t\n\n    <script>\n        var nome;\n        var context;\n        $(document).ready(function () {\n            $(window).keydown(function (event) {\n                if (event.keyCode == 13) {\n                    event.preventDefault();\n                    if ($('#inputChat').val() !== '')\n                        $(\"#btnChat\").click();\n                    return false;\n                }\n            });\n            //$(\"#formChat\").hide();\n           //                         $(\"#btnNome\").click(function () {\n               //                      $(\"#formNome\").hide();\n                $(\"#formChat\").show();\n              //    nome = $('#inputNome').val();\n nome = \"me\"\n             //   context = { nome: nome }\n               // sendMessage('');\n            //});\n            $(\"#btnChat\").click(function () {\n                $('#logChat').append('<p>' + nome + ': ' + $('#inputChat').val());\n                sendMessage($('#inputChat').val());\n            });\n            function sendMessage(mensagem){\n                $.get('/chatapi?text='+mensagem,\n                    function (data) {\n                        $('#logChat').append('<p>Watson: ' + data);\n                    }\n                );\n                $('#inputChat').val('');                \n            }\n        });\n    </script>\n    \n</head>\n\n\t\n<div id =\"page-wrapper\">\n\n\t<section id=\"banner\">\n\t\n\t\t<div class=\"inner\">\n\t\t\n\t\t\t<div class=\"container\">\n\t\t\t\t<div class=\"jumbotron\">\n\t\t\t\t\t<div class=\"logo\">\n\t\t\t\t\t\t<img src=\"https://uploaddeimagens.com.br/images/001/051/457/original/mood.png?1503222349\" width=\"190px\" id=\"bg-header\">\n\t\t\t\t\t</div>\n\t\t\t\t</div>     \n\t\t\t</div>\n\t\t\t\n\n\t\t<form id=\"formChat\">\n\t\t\tHi dear. How was your day yesterday?\n\t\t\t<p id=\"tituloChat\">\n            <p>\n                <input type=\"text\" id=\"inputChat\">\n                <button type=\"button\" class=\"button\" id=\"btnChat\">Enviar</button>\n                \n                <div id=\"logChat\"></div>\n\t\t</form>\n\n\t\t\n<br> <br> <br> \n<center> <table border=\"0\" \"></center>\n\t\t\t\t\t<td><img src=\"https://vakinha-site.s3.amazonaws.com/uploads/vakinha/image/132162/cover_IMG-20160130-WA0113.jpg\" width=100 height=100></td>\n\t\t\t\t    <td><img src=\"http://scontent.cdninstagram.com/t51.2885-15/s480x480/e35/c0.120.960.960/14309833_1592717774367631_1306903671_n.jpg?ig_cache_key=MTMzNTA0Mjk3MzgzODU4MDM3NA%3D%3D.2.c\" width=100 height=100></td>\n\t\t\t\t\t<td><img src=\"http://scontent.cdninstagram.com/t51.2885-19/12142496_471664159678522_1729444997_a.jpg\" width=100 height=100></td>\n\t\t\t\t\t<td><img src=\"https://ibm-att-thinkers.mybluemix.net/images/vania.png\"  width=100 height=100></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t\t<td><center><b>Izabella</b></center></td>\n\t\t\t\t\t<td><center><b>Samara</b></center></td>\n\t\t\t\t\t<td><center><b>Tiago</b></center></td>\n\t\t\t\t\t<td><center><b>Vania</b></center></td>\n\t\t\t\t</tr>\n\n\t\t\t\t<tr>\n\t\t\t\t\t<td><center><font size = \"2\">Trainee</font></center></td>\n\t\t\t\t\t<td><center><font size = \"2\">Developer Notes</font></center></td>\n\t\t\t\t\t<td><center><font size = \"2\">Developer</font></center></td>\n\t\t\t\t\t<td><center><font size = \"2\">IT Specialist</font></center></td>\n\t\t\t\t</tr>\n\n<center> <table border=\"0\" \"></center>\n\n    \t</div>\n\t</section>\n    </div>\n\n</body>\n\n</html>","output":"str","x":316,"y":96,"wires":[["edb01e20.302f4"]]},{"id":"edb01e20.302f4","type":"http response","z":"3790f618.2ccf0a","name":"","statusCode":"","headers":{},"x":630,"y":200,"wires":[]},{"id":"accd872b.32582","type":"function","z":"ca105421.b84c98","name":"","func":"msg.payload.time = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":840,"wires":[["f20decb5.d51e5","65750865.9da51"]]},{"id":"65750865.9da51","type":"debug","z":"ca105421.b84c98","name":"","active":true,"console":"false","complete":"false","x":898.7499847412109,"y":1044.499984741211,"wires":[]},{"id":"cd098dfa.9418a","type":"http in","z":"60fe69bc.6eefd","name":"","url":"/chatapi2","method":"get","upload":false,"swaggerDoc":"","x":90,"y":20,"wires":[["b1318dd.264baf"]]},{"id":"b1318dd.264baf","type":"change","z":"60fe69bc.6eefd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":273,"y":71,"wires":[["5c17a255.ae730c"]]},{"id":"5c17a255.ae730c","type":"watson-conversation-v1","z":"60fe69bc.6eefd","name":"","workspaceid":"4345c3c6-cf54-4823-9ee6-e95a4e55bcff","multiuser":false,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":339,"y":156,"wires":[["fa874d82.7e0878","fb350066.faa56"]]},{"id":"fa874d82.7e0878","type":"change","z":"60fe69bc.6eefd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":349,"y":236,"wires":[["c4975dbf.8429e"]]},{"id":"c4975dbf.8429e","type":"watson-tone-analyzer-v3","z":"60fe69bc.6eefd","name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":499,"y":436,"wires":[["890d8243.3188a","f5b5480f.e3d7a","fb350066.faa56"]]},{"id":"890d8243.3188a","type":"change","z":"60fe69bc.6eefd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.document_tone.tone_categories[0]","tot":"msg"},{"t":"delete","p":"res","pt":"msg"},{"t":"delete","p":"req","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":789,"y":336,"wires":[["ab9dd7ae.9d627"]]},{"id":"a48dc8c5.933858","type":"cloudant out","z":"60fe69bc.6eefd","name":"","cloudant":"","database":"db_tone","service":"bluehackcloudhort082017-cloudantNoSQLDB","payonly":false,"operation":"insert","x":949,"y":636,"wires":[]},{"id":"fb350066.faa56","type":"debug","z":"60fe69bc.6eefd","name":"","active":true,"console":"false","complete":"response","x":796,"y":141,"wires":[]},{"id":"f5b5480f.e3d7a","type":"http response","z":"60fe69bc.6eefd","name":"","statusCode":"","headers":{},"x":579,"y":556,"wires":[]},{"id":"ab9dd7ae.9d627","type":"function","z":"60fe69bc.6eefd","name":"","func":"msg.payload.time = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":799,"y":516,"wires":[["a48dc8c5.933858","df1eb6e4.c5d47"]]},{"id":"df1eb6e4.c5d47","type":"debug","z":"60fe69bc.6eefd","name":"","active":true,"console":"false","complete":"false","x":787.7499847412109,"y":720.4999847412109,"wires":[]}]